<form novalidate [formGroup]="verifyForm" class="centered-form" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal">Please check your email and verify your account using verification code we
        sent you.</h1>
    <div *ngIf="error" class="alert alert-danger" role="alert">
        {{error}}
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" formControlName="email" id="email" placeholder="name@example.com"
            required>
        <div class="error-feedback">
            <div *ngIf="f.email.touched && f.email.hasError('email')"> please enter a valid email</div>
            <div *ngIf="f.email.touched && f.email.hasError('required')">please enter your email</div>
        </div>
    </div>
    <div class="form-group">
        <label for="verificationCode">Verification Code</label>
        <input type="text" class="form-control" formControlName="verificationCode" id="verificationCode" required
            placeholder="enter verification code">
        <div class="error-feedback">
            <div *ngIf="f.verificationCode.touched && f.verificationCode.hasError('required')">please enter your verification
                code</div>
        </div>
    </div>
    <button *ngIf="!submitting" [disabled]="!this.verifyForm.valid" class="btn btn-lg btn-primary btn-block"
        type="submit">Verify Me
    </button>
    <button *ngIf="submitting" class="btn btn-lg btn-primary btn-block" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Verifying...
    </button>
    <button (click)="resendVerificationCode()" class="btn btn-lg btn-secondary btn-block"
        type="button">Resend Code
    </button>   
    
</form>